### Resource

- [google drive](https://drive.google.com/drive/u/1/folders/1N15PTA1y0ou5YyPDUN-MdlTGPXq3Rxhc)
- [iowa liquor dataset](https://console.cloud.google.com/bigquery?authuser=1&invt=AbtrQg&project=solid-dominion-452916-p4&supportedpurview=project&ws=!1m5!1m4!4m3!1sbigquery-public-data!2siowa_liquor_sales!3ssales)

### Load Data

In [17]:
import pandas_gbq
from google.oauth2 import service_account
import pandas as pd

SERVICE_ACCOUNT_FILE = 'service_account_key.json'
credentials = service_account.Credentials.from_service_account_file(SERVICE_ACCOUNT_FILE)

sql = """
SELECT 
    date,
    store_name,
    city,
    county,
    item_description,
    sale_dollars,
    volume_sold_liters
FROM `bigquery-public-data.iowa_liquor_sales.sales`
WHERE date >= '2024-01-01' AND date < '2025-01-01'
"""

df = pandas_gbq.read_gbq(sql, credentials=credentials)

Downloading: 100%|█████████████████████████████████████████████████████████████|

,date,store_name,city,county,item_description,sale_dollars,volume_sold_liters
0,2024-05-22,CASEY'S GENERAL STORE #3439 / LIME SPRINGS,LIME SPRINGS,HOWARD,FIREBALL CINNAMON WHISKEY PARTY BUCKET,77.4,0.05
1,2024-11-19,CASEY'S #4539 / ROCK RAPIDS,ROCK RAPIDS,LYON,FIREBALL CINNAMON WHISKEY PARTY BUCKET,78.6,0.05
2,2024-12-10,CASEY'S GENERAL STORE #27 / AUDUBO,AUDUBON,AUDUBON,FIREBALL CINNAMON WHISKEY PARTY BUCKET,78.6,0.05
3,2024-07-26,KIMMES MANSON COUNTRY STORE #10,MANSON,CALHOUN,99 PARTY BUCKET MINIS,77.4,0.05
4,2024-09-16,CASEY'S GENERAL STORE #40 / SCRANTON,SCRANTON,GREENE,FIREBALL CINNAMON WHISKEY ADULT TRICK OR TREAT...,78.6,0.05

In [20]:
df.head()

,date,store_name,city,county,item_description,sale_dollars,volume_sold_liters
0,2024-05-22,CASEY'S GENERAL STORE #3439 / LIME SPRINGS,LIME SPRINGS,HOWARD,FIREBALL CINNAMON WHISKEY PARTY BUCKET,77.4,0.05
1,2024-11-19,CASEY'S #4539 / ROCK RAPIDS,ROCK RAPIDS,LYON,FIREBALL CINNAMON WHISKEY PARTY BUCKET,78.6,0.05
2,2024-12-10,CASEY'S GENERAL STORE #27 / AUDUBO,AUDUBON,AUDUBON,FIREBALL CINNAMON WHISKEY PARTY BUCKET,78.6,0.05
3,2024-07-26,KIMMES MANSON COUNTRY STORE #10,MANSON,CALHOUN,99 PARTY BUCKET MINIS,77.4,0.05
4,2024-09-16,CASEY'S GENERAL STORE #40 / SCRANTON,SCRANTON,GREENE,FIREBALL CINNAMON WHISKEY ADULT TRICK OR TREAT...,78.6,0.05

In [18]:
print("The earliest date:", df['date'].min())
print("The latest date:", df['date'].max())

The earliest date: 2024-01-01
The latest date: 2024-12-31

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2590975 entries, 0 to 2590974
Data columns (total 7 columns):
 #   Column              Dtype
---  ------              -----
 0   date                dbdate
 1   store_name          object
 2   city                object
 3   county              object
 4   item_description    object
 5   sale_dollars        float64
 6   volume_sold_liters  float64
dtypes: dbdate(1), float64(2), object(4)
memory usage: 138.4+ MB